src/main/resources/com/bean/user/user.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xsd:schema xmlns="http://www.yanghj.com/schema/user"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.yanghj.com/schema/user"
			elementFormDefault="qualified">


	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="userName" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
		</xsd:complexType>

	</xsd:element>



</xsd:schema>